/* App.css */

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f8fa;
}

.App-header {
  background-color: #f1f1f1;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  background-color: #e2e2e2;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #ccc;
}

.active-link {
  background-color: #ccc;  /* Darker color for active link */
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.option {
  text-align: center;
  margin: 0 40px;
}

.icon-image {
  width: 64px;
  height: 64px;
}

.nav-button {
  background-color: #666;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #555;
}
